1

In [17]:
import array
array_demo = array.array('i')

In [18]:
type(array_demo)

array.array

In [19]:
array_demo

array('i')

2

In [26]:
import random

In [27]:
List = ['He', 'Loves', 'To', 'Code', 'In', 'Python']
random.shuffle(List)
print(List)

['In', 'To', 'Loves', 'He', 'Code', 'Python']

3

split(): This method is used to split a given string into a list.
sub(): This method is used to find a substring where a regex pattern matches,   
       and then it replaces the matched substring with a different string.
subn(): This method is similar to the sub() method, but it returns the new string,
        along with the number of replacements.

In [28]:
# Importing re module
import re

# Given String
s = "I am a human being."

# Performing Sub() operation
res_1 = re.sub('a', 'x', s)
res_2 = re.sub('[a,I]','x',s)

# Print Results
print(res_1)
print(res_2)

# The original string remains unchanged
print(s)

#In we used the re.sub() function to replace all the instances of a with x in the string s.
#In we used the re.sub() function to replace all the instances of a and I with x in the string s.

I xm x humxn being.
x xm x humxn being.
I am a human being.

4

In [36]:
def calculateSq(n):
    return n*n
numbers = (2, 3, 4, 5)
result = map( calculateSq, numbers)
list(result)
#The map() function takes a function as an argument and then applies that function to all the elements of an iterable, 
#passed to it as another argument. 
#It returns an object list of results

[4, 9, 16, 25]

In [35]:
def addition(n):
    return n + n
  
# We double all numbers using map()
numbers = (1, 2, 3, 4)
result = map(addition, numbers)
print(list(result))

[2, 4, 6, 8]

5 36

In [37]:
my_list = [2, 3, 5, 7, 11]
squared_list = [x**2 for x in my_list] 
squared_list

[4, 9, 25, 49, 121]

In [38]:
squared_dict = {x:x**2 for x in my_list} 
squared_dict

{2: 4, 3: 9, 5: 25, 7: 49, 11: 121}

In [40]:
a=[]
for i in range(10):
    a.append(i)
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

40

Pickle module accepts the Python object and converts it into a string representation and stores it into a file by using the dump function. 
the process of retrieving the original Python objects from the string representation is called unpickling.

pickle

In [42]:
import pickle
 
data = [ { 'a':'A', 'b':2, 'c':3.0 } ]
data_string = pickle.dumps(data)
print ('PICKLE:', data_string )

PICKLE: b'\x80\x04\x95#\x00\x00\x00\x00\x00\x00\x00]\x94}\x94(\x8c\x01a\x94\x8c\x01A\x94\x8c\x01b\x94K\x02\x8c\x01c\x94G@\x08\x00\x00\x00\x00\x00\x00ua.'

In [43]:
# Python program to illustrate
# pickle.loads()
import pickle
import pprint
 
data1 = [ { 'a':'A', 'b':2, 'c':3.0 } ]
print ('BEFORE:',)
pprint.pprint(data1)
 
data1_string = pickle.dumps(data1)
 
data2 = pickle.loads(data1_string)
print ('AFTER:',)
pprint.pprint(data2)
 
print ('SAME?:', (data1 is data2))
print ('EQUAL?:', (data1 == data2))

BEFORE:
[{'a': 'A', 'b': 2, 'c': 3.0}]
AFTER:
[{'a': 'A', 'b': 2, 'c': 3.0}]
SAME?: False
EQUAL?: True

41
Tkinter is a built-in Python module that is used to create GUI applications. It is Python’s standard toolkit for GUI development.

45
Python comes with some file-related modules that have functions to manipulate text files and binary files in a file system. These modules can be used to create text or binary files, update their content, copy, delete, and more.

Some file-related modules are os, os.path, and shutil.os. The os.path module has functions to access the file system, while the shutil.os module can be used to copy or delete files.

46
In Python, using the ‘with’ statement, we can open a file and close it as soon as the block of code, where ‘with’ is used, exits. In this way, we can opt for not using the close() method.

In [ ]:
#with open("filename", "mode") as file_var:

47 
To display the contents of a file in reverse, the following code can be used:
for line in reversed(list(open(filename.txt))):
print(line.rstrip())

In [ ]:
#51
args: It is used to pass multiple arguments in a function.
kwargs: It is used to pass multiple keyworded arguments in a function in python.
*args (Non-Keyword Arguments)
**kwargs (Keyword Arguments)

In [45]:

def myFun(*argv):
    for arg in argv:
        print(arg)
 
 
myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [46]:
def myFun(**kwargs):
    for key, value in kwargs.items():
        print("%s == %s" % (key, value))
 
 
# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first == Geeks
mid == for
last == Geeks

In [49]:
def myFun(arg1, arg2, arg3):
    print("arg1:", arg1)
    print("arg2:", arg2)
    print("arg3:", arg3)
 
 
# Now we can use *args or **kwargs to
# pass arguments to this function :
args = ("Geeks", "for", "Geeks")
myFun(*args)

arg1: Geeks
arg2: for
arg3: Geeks

In [50]:
kwargs = {"arg1": "Geeks", "arg2": "for", "arg3": "Geeks"}
myFun(**kwargs)

arg1: Geeks
arg2: for
arg3: Geeks

In [51]:
def myFun(*args, **kwargs):
    print("args: ", args)
    print("kwargs: ", kwargs)
 
 
# Now we can use both *args ,**kwargs
# to pass arguments to this function :
myFun('geeks', 'for', 'geeks', first="Geeks", mid="for", last="Geeks")

args:  ('geeks', 'for', 'geeks')
kwargs:  {'first': 'Geeks', 'mid': 'for', 'last': 'Geeks'}

In [ ]:
#53 delete a file

In [ ]:
import os
os.remove("file_name.txt")

In [ ]:
#54. How will you read a random line in a file?

In [ ]:
import random
def read_random(fname):
    lines = open(fname).read().splitlines()
    return random.choice(lines)

print(read_random (‘hello.txt’))

In [ ]:
#55. Write a Python program to count the total number of lines in a text file?

In [ ]:
def file_count(fname):
with open(fname) as f:
    for i, 1 in enumerate(f):
        pass
    return i+1
print(“Total number of lines in the text file: ”, file_count(“file.txt”))

#58. Whenever Python exits, why isn’t all the memory de-allocated?
Whenever Python exits, especially those Python modules which are having circular references to other objects or the objects that are referenced from the global namespaces are not always de-allocated or freed.
It is not possible to de-allocate those portions of memory that are reserved by the C library.
On exit, because of having its own efficient clean up mechanism, Python would try to de-allocate every object.

In [ ]:
#60 How to add values to a python array

In [54]:
import array as arr

In [55]:
x=arr.array('d', [11.1 , 2.1 ,3.1] )
x.append(10.1)
print(x)   #[11.1,2.1,3.1,10.1]
x.extend([8.3,1.3,5.3])
print(x)  #[11.1,2.1,3.1,10.1,8.3,1.3,5.3]
x.insert(2,6.2)
print(x)        # [11.1,2.1,6.2,3.1,10.1,8.3,1.3,5.3]

array('d', [11.1, 2.1, 3.1, 10.1])
array('d', [11.1, 2.1, 3.1, 10.1, 8.3, 1.3, 5.3])
array('d', [11.1, 2.1, 6.2, 3.1, 10.1, 8.3, 1.3, 5.3])

In [56]:
#61 How to remove values to a python array

In [57]:
x=arr.array('d', [8.1, 2.4, 6.8, 1.1, 7.7, 1.2, 3.6])
print(x.pop())
print(x.pop(3))
x.remove(8.1)
print(x)

3.6
1.1
array('d', [2.4, 6.8, 7.7, 1.2])

In [ ]:
#62. Write a code to sort a numerical list in Python?

In [60]:
list = ['2','5','1','3']
list = [int(i) for i in list]
list.sort()
print (list)

[1, 2, 3, 5]

In [61]:
list = [2,3,4,5,1,2]
list = [int(i) for i in list]
list.sort()
print (list)

[1, 2, 2, 3, 4, 5]

In [ ]:
#63 Can you write an efficient code to count the number of capital letters in a file?

letters = set()
with open('demo.txt') as countletter:
    count = 0
    text = countletter.read()
    for character in text:
        if character.isupper():
            count += 1
            letters.add(character)
print(count)

In [ ]:
#64 reverse a list in python

list.reverse()

In [63]:
#65 remove the last object from a list in python

In [ ]:
list.pop(obj=list[-1])

In [ ]:
#66. How can you generate random numbers in Python?
#This achieved with importing the random module,it is the module that is used to generate random numbers 0-1

In [65]:
import random
print(random.random())

0.21079237115409188

In [ ]:
#67. How will you convert a string to all lowercase?

In [66]:
demo_string='ROSES'
print(demo_string.lower())

roses

68. Why would you use NumPy arrays instead of lists in Python?
NumPy arrays provide users with three main advantages as shown below:

NumPy arrays consume a lot less memory, thereby making the code more efficient.
NumPy arrays execute faster and do not add heavy processing to the runtime.
NumPy has a highly readable syntax, making it easy and convenient for programmers.

69 What is Polymorphism?
Polymorphism is taken from the Greek words Poly (many) and morphism (forms). It means that the same function name can be used for different types. This makes programming more intuitive and easier.

70 Define encapsulation in Python?
encapsulation in Python refers to the process of wrapping up the variables and different functions into a single entity or capsule.Python class is the best example of encapsulation in python.

Encapsulation in Python describes the concept of bundling data and methods within a single unit. So, for example, when you create a class, it means you are implementing encapsulation. A class is an example of encapsulation as it binds all the data members (instance variables) and methods into a single unit.

In [67]:
class Employee:
    # constructor
    def __init__(self, name, salary, project):
        # data members
        self.name = name
        self.salary = salary
        self.project = project

    # method
    # to display employee's details
    def show(self):
        # accessing public data member
        print("Name: ", self.name, 'Salary:', self.salary)

    # method
    def work(self):
        print(self.name, 'is working on', self.project)

# creating object of a class
emp = Employee('Jessa', 8000, 'NLP')

# calling public method of the class
emp.show()
emp.work()

Name:  Jessa Salary: 8000
Jessa is working on NLP

In [ ]:
#72. What is the lambda function in Python?

In [69]:
l = lambda x,y : x*y
print(l(5, 6))

30

In [ ]:
#73. What is self in Python?

Self is an object or an instance of a class. This is explicitly included as the first parameter in Python. On the other hand, in Java it is optional. It helps differentiate between the methods and attributes of a class with local variables.

The self variable in the init method refers to the newly created object, while in other methods, it refers to the object whose method was called.

In [ ]:
#74. What is the difference between append() and extend() methods?

Both append() and extend() methods are methods used to add elements at the end of a list.

append(element): Adds the given element at the end of the list that called this append() method
extend(another-list): Adds the elements of another list at the end of the list that called this extend() method

In [ ]:
#75. How does Python Flask handle database requests?

Flask supports a database-powered application (RDBS). Such a system requires creating a schema, which needs piping the schema.sql file into the sqlite3 command. Python developers need to install the sqlite3 command to create or initiate the database in Flask.

In [ ]:
#77. How is Multithreading achieved in Python?

Python has a multi-threading package ,but commonly not considered as good practice to use it as it will result in increased code execution time.

Python has a constructor called the Global Interpreter Lock (GIL). The GIL ensures that only one of your ‘threads’ can execute at one time.The process makes sure that a thread acquires the GIL, does a little work, then passes the GIL onto the next thread.

This happens at a very Quick instance of time and that’s why to the human eye it seems like your threads are executing parallely, but in reality they are executing one by one by just taking turns using the same CPU core.

In [71]:
# Python program to illustrate the concept
# of threading
# importing the threading module
import threading
 
 
def print_cube(num):
    # function to print cube of given num
    print("Cube: {}" .format(num * num * num))
 
 
def print_square(num):
    # function to print square of given num
    print("Square: {}" .format(num * num))
 
 
if __name__ =="__main__":
    # creating thread
    t1 = threading.Thread(target=print_square, args=(20,))
    t2 = threading.Thread(target=print_cube, args=(10,))
 
    # starting thread 1
    t1.start()
    # starting thread 2
    t2.start()
 
    # wait until thread 1 is completely executed
    t1.join()
    # wait until thread 2 is completely executed
    t2.join()
 
    # both threads completely executed
    print("Done!")

Square: 400
Cube: 1000
Done!

In [72]:
#set
#Set items are unordered, unchangeable, and do not allow duplicate values.
#Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
#Set items are unchangeable, meaning that we cannot change the items after the set has been created.
#Duplicates Not Allowed

thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'apple', 'cherry', 'banana'}

In [ ]:
#82. What is the difference between / and // operator in Python?

Division /: is a division operator and returns the Quotient value.
Floor division // : is known as floor division operator and used to return only the value of quotient before decimal 
%: decimal Modulus

In [95]:
print(10//3,10/3)
print(10%3)

3 3.3333333333333335
1

In [89]:
print('hello world'\n 'hello world'\n 'hello world'\n)

SyntaxError: unexpected character after line continuation character (2181302064.py, line 1)

In [ ]:
#The .rstrip() and .lstrip() methods to remove leading and trailing whitespace

In [91]:
string = "Welcome to datagy!\\nLearn Python and Data Science!"
print(string)

Welcome to datagy!\nLearn Python and Data Science!

In [93]:
print ("Hello\n!\nWorld")

Hello
!
World

In [ ]:
#85. How to combine dataframes in pandas?
data_frame1.append(data_frame2)
pd.concat([data_frame1, data_frame2])
data_frame1.join(data_frame2)

concat(): This function is used for vertical stacking and best suites when the dataframes to be combined possess the same column and similar fields.

join(): This function is used to extract data from different dataframes which have one or more columns common.

In [ ]:
#86 How do you identify missing values and deal with missing values in Dataframe?
isnull() and isna() functions are used to identify the missing values in your data loaded into dataframe.
missing_count=data_frame1.isnull().sum()

In [ ]:
#Replace the  missing values with 0
df[‘col_name’].fillna(0)
#Replace the missing values with the mean value of that column
df[‘col_name’] = df[‘col_name’].fillna((df[‘col_name’].mean()))

87. What is regression?
Regression is termed as supervised machine learning algorithm technique which is used to find the correlation between variables and help to predict the dependent variable(y) based upon the independent variable (x). It is mainly used for prediction, time series modeling, forecasting, and determining the causal-effect relationship between variables.

Scikit library is used in python to implement the regression and all machine learning algorithms.

There are two different types of regression algorithms in machine learning :

Linear Regression: Used when the variables are continuous and numeric in nature.

Logistic Regression: Used when the variables are continuous and categorical in nature.

88. What is classification?
Classification refers to a predictive modeling process where a class label is predicted for a given example of input data. It helps categorize the provided input into a label that other observations with similar features have. For example, it can be used for classifying a mail whether it is spam or not, or for checking whether users will churn or not based on their behavior.

These are some of the classification algorithms used in Machine Learning:

Decision tree
Random forest classifier
Support vector machine

90. What is SVM?
Support vector machine (SVM) is a supervised machine learning model that considers the classification algorithms for two-group classification problems. Support vector machine is a representation of the training data as points in space are separated into categories with the help of a clear gap that should be as wide as possible.

89. How do you split the data in train and test dataset in python?
This can be achieved by using the scikit machine learning  library and importing train_test_split function in python as shown below:

Import sklearn.model_selection.train_test_split

test size =30% and train= 70 %

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=0).

91. Write a code to get the indices of N maximum values from a NumPy array?

In [158]:
import numpy as np

ar = np.array([1, 3, 2, 4, 5, 6])

print(ar.argsort()[-3:][::-1])
#[::-1]倒叙

[5 4 3]

92. What is the easiest way to calculate percentiles when using Python?

In [159]:
import numpy as np
a = np.array([1,2,3,4,5,6,7])
p = np.percentile(a, 50)  #Returns the 50th percentile which is also the median
print(p)

4.0

93. Write a Python program to check whether a given string is a palindrome or not, without using an iterative method?

In [167]:
def fun(string):
    s1 = string
    s = string[::-1]
    if(s1 == s):
        return True
    else:
        return False

In [168]:
print(fun('madam'))

True

94. Write a Python program to calculate the sum of a list of numbers?

In [172]:
def sum(num):
    if len(num) == 1:
        return num[0] 
    else:
        return num[0] + sum(num[1:])

In [176]:
#with only one element in the list, the sum result will be equal to the elementelse:
print(sum([2, 4, 5, 6, 7]))

24

95. Write a program in Python to execute the Bubble sort algorithm?

In [177]:
def bubbleSort(arr):
    n = len(arr)
    # optimize code, so if the array is already sorted, it doesn't need
    # to go through the entire process
    swapped = False
    # Traverse through all array elements
    for i in range(n-1):
        # range(n) also work but outer loop will
        # repeat one time more than needed.
        # Last i elements are already in place
        for j in range(0, n-i-1):
 
            # traverse the array from 0 to n-i-1
            # Swap if the element found is greater
            # than the next element
            if arr[j] > arr[j + 1]:
                swapped = True
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
         
        if not swapped:
            # if we haven't needed to make a single swap, we
            # can just exit the main loop.
            return
 
 
# Driver code to test above
arr = [64, 34, 25, 12, 22, 11, 90]
 
bubbleSort(arr)
 
print("Sorted array is:")
for i in range(len(arr)):
    print("% d" % arr[i], end=" ")

Sorted array is:
 11  12  22  25  34  64  90

96. Write a program in Python to produce Star triangle?

In [178]:
def Star_triangle(n):
    for x in range(n):
        print(' '*(n-x-1)+'*'*(2*x+1))
Star_triangle(9)

        *
       ***
      *****
     *******
    *********
   ***********
  *************
 ***************
*****************

In [179]:
# Python 3.x code to demonstrate star pattern
 
# Function to demonstrate printing pattern
def pypart(n):
     
    # outer loop to handle number of rows
    # n in this case
    for i in range(0, n):
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # printing stars
            print("* ",end="")
      
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
pypart(n)

*
* *
* * *
* * * *
* * * * *

In [180]:
# python3 code to print pyramid pattern using while loop
n=5;i=0
while(i<=n):
  print(" " * (n - i) +"*" * i)
  i+=1

    *
   **
  ***
 ****
*****

97. Write a program to produce Fibonacci series in Python?

In [190]:
#1. Use recursion
# Function for nth Fibonacci number
def Fibonacci(n):
   
    # Check if input is 0 then it will
    # print incorrect input
    if n < 0:
        print("Incorrect input")
 
    # Check if n is 0
    # then it will return 0
    elif n == 0:
        return 0
 
    # Check if n is 1,2
    # it will return 1
    elif n == 1 or n == 2:
        return 1
 
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)
 
# Driver Program
print(Fibonacci(5))

5

In [191]:
#2 Dynamic Programming
FibArray = [0, 1]
 
def fibonacci(n):
   
    # Check is n is less
    # than 0
    if n < 0:
        print("Incorrect input")
         
    # Check is n is less
    # than len(FibArray)
    elif n < len(FibArray):
        return FibArray[n]
    else:       
        FibArray.append(fibonacci(n - 1) + fibonacci(n - 2))
        return FibArray[n]
 
# Driver Program
print(fibonacci(9))

34

In [192]:
#3 Space Optimized

# Function for nth fibonacci
# number - Space Optimisation
# Taking 1st two fibonacci numbers as 0 and 1
 
def fibonacci(n):
    a = 0
    b = 1
     
    # Check is n is less
    # than 0
    if n < 0:
        print("Incorrect input")
         
    # Check is n is equal
    # to 0
    elif n == 0:
        return 0
       
    # Check if n is equal to 1
    elif n == 1:
        return b
    else:
        for i in range(1, n):
            c = a + b
            a = b
            b = c
        return b
 
# Driver Program
print(fibonacci(9))

34

98. Write a program in Python to check if a number is prime?

In [187]:
def isPrime(n):
  
    # Corner case
    if n <= 1:
        return False
  
    # Check from 2 to n-1
    for i in range(2, n):
        if n % i == 0:
            return False;
  
    return True
  
# Driver Program to test above function
print("true") if isPrime(11) else print("false")
print("true") if isPrime(14) else print("false")

true
false

99. Write a sorting algorithm for a numerical dataset in Python?

In [182]:
my_list = ["8", "4", "3", "6", "2"]

my_list = [int(i) for i in list]

my_list.sort()

print (my_list)

[1, 2, 2, 3, 4, 5]

100. Write a Program to print ASCII Value of a character in python?

In [181]:
x= 'a'

# print the ASCII value of assigned character stored in x

print(" ASCII value of '" + x + "' is", ord(x))

 ASCII value of 'a' is 97

89

In [151]:

#By default, the Test set is split into 30 % of actual data and the training set is split into 70% of the actual data.
# import modules
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
 
# read the dataset
df = pd.read_csv('/Users/rz/Desktop/python面试/Real-estate.csv')
 
# get the locations
X = df.iloc[:, :-1] #选取除了最后-x的之前列
y = df.iloc[:, -1]
 
# split the dataset
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.05, random_state=0)

In [152]:
df

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1
...,...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381,15.4
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310,50.0
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986,40.6
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067,52.5
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310,63.9

In [153]:
X

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
0,1,2012.917,32.0,84.87882,10,24.98298,121.54024
1,2,2012.917,19.5,306.59470,9,24.98034,121.53951
2,3,2013.583,13.3,561.98450,5,24.98746,121.54391
3,4,2013.500,13.3,561.98450,5,24.98746,121.54391
4,5,2012.833,5.0,390.56840,5,24.97937,121.54245
...,...,...,...,...,...,...,...
409,410,2013.000,13.7,4082.01500,0,24.94155,121.50381
410,411,2012.667,5.6,90.45606,9,24.97433,121.54310
411,412,2013.250,18.8,390.96960,7,24.97923,121.53986
412,413,2013.000,8.1,104.81010,5,24.96674,121.54067
413,414,2013.500,6.5,90.45606,9,24.97433,121.54310

In [154]:
y

0      37.9
1      42.2
2      47.3
3      54.8
4      43.1
       ...
409    15.4
410    50.0
411    40.6
412    52.5
413    63.9
Name: Y house price of unit area, Length: 414, dtype: float64

In [155]:
X_train

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
37,38,2013.167,12.0,1360.13900,1,24.95204,121.54842
334,335,2012.917,30.0,1013.34100,5,24.99006,121.53460
54,55,2013.083,16.1,289.32480,5,24.98203,121.54348
145,146,2012.917,2.1,451.24380,5,24.97563,121.54694
284,285,2012.917,15.0,383.28050,7,24.96735,121.54464
...,...,...,...,...,...,...,...
323,324,2013.417,28.6,197.13380,6,24.97631,121.54436
192,193,2013.167,43.8,57.58945,7,24.96750,121.54069
117,118,2013.000,13.6,4197.34900,0,24.93885,121.50383
47,48,2013.583,35.9,640.73910,3,24.97563,121.53715
172,173,2013.583,6.6,90.45606,9,24.97433,121.54310

In [156]:
X_test

,No,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude
356,357,2012.833,10.3,211.44730,1,24.97417,121.52999
170,171,2013.333,24.0,4527.68700,0,24.94741,121.49628
224,225,2013.333,34.5,324.94190,6,24.97814,121.54170
331,332,2013.333,25.6,4519.69000,0,24.94826,121.49587
306,307,2013.500,14.4,169.98030,1,24.97369,121.52979
325,326,2013.083,36.6,488.81930,8,24.97015,121.54494
150,151,2013.250,35.8,170.73110,7,24.96719,121.54269
10,11,2013.083,34.8,405.21340,1,24.97349,121.53372
21,22,2013.417,10.5,279.17260,7,24.97528,121.54541
268,269,2013.417,17.2,390.56840,5,24.97937,121.54245
316,317,2013.250,13.3,250.63100,7,24.96606,121.54297
59,60,2013.083,13.3,336.05320,5,24.95776,121.53438
402,403,2012.833,12.7,187.48230,1,24.97388,121.52981
198,199,2013.083,34.0,157.60520,7,24.96628,121.54196
348,349,2012.833,4.6,259.66070,6,24.97585,121.54516
76,77,2013.583,35.9,616.40040,3,24.97723,121.53767
264,265,2013.167,32.6,493.65700,7,24.96968,121.54522
164,165,2012.833,0.0,185.42960,0,24.97110,121.53170
12,13,2012.917,13.0,492.23130,5,24.96515,121.53737
188,189,2012.917,34.8,190.03920,8,24.97707,121.54312
342,343,2012.667,5.7,90.45606,9,24.97433,121.54310

In [157]:
y_train

37     25.3
334    22.8
54     51.7
145    45.5
284    34.4
       ...
323    42.5
192    42.7
117    13.0
47     61.5
172    58.1
Name: Y house price of unit area, Length: 393, dtype: float64

In [141]:
y_test

356    45.3
170    14.4
224    46.0
331    15.6
306    50.2
325    38.1
150    48.5
10     41.4
21     51.6
268    40.1
316    42.0
59     42.4
402    28.5
198    39.1
348    53.7
76     36.8
264    40.6
164    55.2
12     39.3
188    44.3
342    53.5
Name: Y house price of unit area, dtype: float64

In [ ]:
#85

In [99]:
# importing the module
import pandas as pd
  
# creating the Series
series1 = pd.Series([1, 2, 3])
display('series1:', series1)

series2 = pd.Series(['A', 'B', 'C'])
display('series2:', series2)
  
# concatenating
display('After concatenating:')
display(pd.concat([series1, series2]))
display(series1.append(series2))

'series1:'

0    1
1    2
2    3
dtype: int64

'series2:'

0    A
1    B
2    C
dtype: object

'After concatenating:'

0    1
1    2
2    3
0    A
1    B
2    C
dtype: object

/var/folders/83/wyld6rbs37jg06dnrv50h1sh0000gn/T/ipykernel_39100/590138383.py:14: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  display(series1.append(series2))

0    1
1    2
2    3
0    A
1    B
2    C
dtype: object

In [105]:
import numpy as np
import pandas as pd

In [107]:
df=pd.DataFrame(np.random.randn(3,4),columns=['one','two','three','four'])
df2=pd.DataFrame(np.random.randn(2,3),columns=['three','four','five'])
ser=pd.Series(range(4))
ser2=pd.Series(range(3))

In [109]:
df,df2,ser,ser2

(        one       two     three      four
 0  0.210216 -1.522710 -0.115503 -0.452442
 1  0.960625 -1.163225 -1.589983 -0.773098
 2 -1.743389  0.553028  0.349413 -1.855075,
       three      four      five
 0 -0.457219 -0.259434  0.005886
 1 -0.527299  0.785317 -2.103085,
 0    0
 1    1
 2    2
 3    3
 dtype: int64,
 0    0
 1    1
 2    2
 dtype: int64)

In [110]:
#1. concat
pd.concat([df,df])

        one       two     three      four
0  0.210216 -1.522710 -0.115503 -0.452442
1  0.960625 -1.163225 -1.589983 -0.773098
2 -1.743389  0.553028  0.349413 -1.855075
0  0.210216 -1.522710 -0.115503 -0.452442
1  0.960625 -1.163225 -1.589983 -0.773098
2 -1.743389  0.553028  0.349413 -1.855075

In [111]:
pd.concat([df,df],axis=1)

,one,two,three,four,one,two,three,four
0,0.210216,-1.522710,-0.115503,-0.452442,0.210216,-1.522710,-0.115503,-0.452442
1,0.960625,-1.163225,-1.589983,-0.773098,0.960625,-1.163225,-1.589983,-0.773098
2,-1.743389,0.553028,0.349413,-1.855075,-1.743389,0.553028,0.349413,-1.855075

In [112]:
pd.concat([df,df,df2])

        one       two     three      four      five
0  0.210216 -1.522710 -0.115503 -0.452442       NaN
1  0.960625 -1.163225 -1.589983 -0.773098       NaN
2 -1.743389  0.553028  0.349413 -1.855075       NaN
0  0.210216 -1.522710 -0.115503 -0.452442       NaN
1  0.960625 -1.163225 -1.589983 -0.773098       NaN
2 -1.743389  0.553028  0.349413 -1.855075       NaN
0       NaN       NaN -0.457219 -0.259434  0.005886
1       NaN       NaN -0.527299  0.785317 -2.103085

In [113]:
#2.join dataframe 中可以用相同的索引为键join， series无此用法
df.join(df,lsuffix='x')

,onex,twox,threex,fourx,one,two,three,four
0,0.210216,-1.522710,-0.115503,-0.452442,0.210216,-1.522710,-0.115503,-0.452442
1,0.960625,-1.163225,-1.589983,-0.773098,0.960625,-1.163225,-1.589983,-0.773098
2,-1.743389,0.553028,0.349413,-1.855075,-1.743389,0.553028,0.349413,-1.855075

In [ ]:
#3.append

In [114]:
df.append(df)

/var/folders/83/wyld6rbs37jg06dnrv50h1sh0000gn/T/ipykernel_39100/443893503.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df.append(df)

        one       two     three      four
0  0.210216 -1.522710 -0.115503 -0.452442
1  0.960625 -1.163225 -1.589983 -0.773098
2 -1.743389  0.553028  0.349413 -1.855075
0  0.210216 -1.522710 -0.115503 -0.452442
1  0.960625 -1.163225 -1.589983 -0.773098
2 -1.743389  0.553028  0.349413 -1.855075

In [115]:
ser.append(ser2)

/var/folders/83/wyld6rbs37jg06dnrv50h1sh0000gn/T/ipykernel_39100/3471156502.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  ser.append(ser2)

0    0
1    1
2    2
3    3
0    0
1    1
2    2
dtype: int64

In [ ]:
#4 merge

In [125]:
a=df.merge(df2,how='outer')
a

        one       two     three      four      five
0  0.210216 -1.522710 -0.115503 -0.452442       NaN
1  0.960625 -1.163225 -1.589983 -0.773098       NaN
2 -1.743389  0.553028  0.349413 -1.855075       NaN
3       NaN       NaN -0.457219 -0.259434  0.005886
4       NaN       NaN -0.527299  0.785317 -2.103085

In [126]:
df.merge(df2,how='inner')

Empty DataFrame
Columns: [one, two, three, four, five]
Index: []

In [127]:
#5 缺失数值优先补全combine_first

In [128]:
df.one.combine_first(df.merge(df2,how='outer').three)

0    0.210216
1    0.960625
2   -1.743389
3   -0.457219
4   -0.527299
Name: one, dtype: float64

In [129]:
df.one.combine_first(df.merge(df2,how='outer').five)

0    0.210216
1    0.960625
2   -1.743389
3    0.005886
4   -2.103085
Name: one, dtype: float64

In [131]:
a.five.combine_first(a.one)

0    0.210216
1    0.960625
2   -1.743389
3    0.005886
4   -2.103085
Name: five, dtype: float64

In [119]:
df.merge(df2,how='outer').three

0   -0.115503
1   -1.589983
2    0.349413
3   -0.457219
4   -0.527299
Name: three, dtype: float64